
{% extends 'blog/base.html' %}
{% load mathfilters %}
{% block content %}
	<div class="card">
	    <div class="post card-body">
	    	
	    	<h1 class="card-title">{{ post.title }}
	    		{% if user.is_authenticated %}
			     	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
				{% endif %}
	    	</h1>
	        {% if post.published_date %}
	            <div class="date card-subtitle mb-2 text-muted">
	                {{ post.published_date }}
	            </div>
	        {% endif %}
	        <p class="card-text">{{ post.text|linebreaksbr }}</p>
	    </div>
    </div>
    <div class="card">
    	<h2 class="glyphicon glyphicon-comment">Коментарии <a class="btn btn-default" href="{% url 'comment_new' pk=post.pk %}"><span class="glyphicon glyphicon-comment">Add comment</span></a></h2>
	    {% for comm in exp %}
	    	{% if comm.levels > 0 %}	           	     
			    <div style="margin-left: {{comm.levels|mul:2}}0px; margin-right:10px;" class="card">		
				    <h4 class="card-title">{{ comm.author }}</h4>      
		            <div class="date">
		                {{ comm.published_date }}
		            </div>
			        <p>{{ comm.text|linebreaksbr }}</p>
			        <a class="btn btn-default" href="{% url 'sub_comment_new' postpk=post.pk commentpk=comm.pk %}"><span class="glyphicon glyphicon-comment">Add subcomment</span></a>
			    </div>
			{% endif %}
	    {% endfor %}
    </div>
{% endblock %}

Entry.objects.values_list('id', flat=True)
Entry.objects.filter(headline__contains='Lennon').count()